[submodule "thirdParty/osc-cpp-qt"]
	path = thirdParty/osc-cpp-qt
	url = git@github.com:/MugenSAS/osc-cpp-qt.git
[submodule "thirdParty/rtmidi"]
	path = thirdParty/rtmidi
	url = git@github.com:/thestk/rtmidi.git
